{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<body id="bg">
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}

<h1 id="title_pages"> Shopping Cart</h1>
<hr class="hr_top">
{% for item in cart_items %}
<div class="container"  id="cart_container">
  <div class="row" id="cart_row">
    <div class="col-md-4 col-sm-4  text-center">
        {% if item.product.image %}
        <img src="/media/{{ item.product.image}}" class="image_product_cart">
        {% endif %}
    </div>
    <div class="col-md-4 col-sm-4  text-center">
        <h2 class="product_name_cart">{{ item.product.name }}</h2>
        <h5 class="product-price-quantity">Product price: <strong> € {{ item.product.price  }}</strong></h5>
        <h5 class="product-price-quantity">Quantity: <strong>{{item.quantity}} </strong></h5>
    </div>

    <div class=" col-md-3 col-sm-3  text-center">
        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                   <input name="quantity"  type="number" min="1" max="999" class="form-control" placeholder="{{item.quantity}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default">Add Qty</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
      <div class="col-md-1 col-sm-1 text-center">
          <form method="post" action="{%  url 'delete_cart' item.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" id="button_cart"  value="X">
          </form>
      </div>
  </div>
</div>
{% endfor %}

{% if product_count > 0 %}
<div class="container">
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Subtotal</th>
        <th class="total_th"> € {{total}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Total<strong></td>
        <td> € {{total}}</td>
      </tr>
    </tbody>
  </table>
    </div>

<div class=" checkout col-md-12" align="center">

    <a href="{% url 'checkout' %}" class="btn btn-success" id="btn_cart" role="button">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
{% else %}
<h1 style="text-align:center; color:white;">Your cart is empty!</h1>
<h2 style="text-align:center; color:white; margin-bottom: 400px;">Back to <a href="/products/">Shop</a></h2>
{% endif %}
</body>
{% endblock %}