{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}

<body id="bg">
<h1 id="title_pages">Log In</h1>
<hr class="hr_top">

<div class="container" id="login_form">
    <form role="form"  method="post" action="{% url 'login' %}?next={{ next }}">
        {% csrf_token %}
        {{ form| as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>
</div>

<h3 style="text-align:center;color:white; margin-top:70px;" >Don't have an account? <a href="/register/" style="color: #d5242a;">Register</a></h3>
<h3 style="text-align:center;color:white; margin-top:50px;" >Forgot your password? <a href="/password_reset/" style="color: #d5242a;">Click here!</a></h3>
</body>
{% endblock %}