{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}

<body id="bg">
  {% if validlink %}
    <h1 id="title_pages">Reset Password</h1>
  <hr class="hr_top">
    <h4 style="text-align:center; color:white; margin:50px 0px 50px 0px">Please enter your new password.</h4>
    <div class="container" id="rst_pass_confirm">
  <form method="post" >
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% else %}
    <h4 style="text-align:center;color:white;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </h4>
  {% endif %}
    </div>
  </body>
{% endblock %}