{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<body id="bg" style="background-image: url('{% static "media/grey and white.jpg"%}')";>

<div class="container" id="profile_list">
  <h2 style="text-align:center; color:white;">Profile Details</h2>
  <hr>
  <ul class="list-group" >
    <li class="list-group-item">You Are Logged In As*<br> <strong> {{ user.email }}</strong></li>
    <li class="list-group-item">Your Last Login was*<br><strong>{{user.last_login}}</strong></li>
    <li class="list-group-item">Date Joined*<br><strong>{{user.date_joined}}</strong></li>
    <li class="list-group-item">First Name*<br><strong>{{user.first_name}}</strong></li>
    <li class="list-group-item">Last Name*<br><strong>{{user.last_name}}</strong></li>
    <li class="list-group-item">Is SuperUser*<br><strong>{{user.is_superuser}}</strong></li>
  </ul>
</div>
<h3 style="text-align:center;color:white; margin-top:10px;" >Update profile <a href="/profile_update/" style="color: #d5242a;">Click here!</a></h3>
<h3 style="text-align:center;color:white; margin-top:50px;" >Reset your password <a href="/password_reset/" style="color: #d5242a;">Click here!</a></h3>

{% endblock %}