{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}

<body id="bg">
<h1 id="title_pages">Create a new account</h1>
<hr class="hr_top">
<div class="container" id="white_container_forms">
    <h4 class="text_white_container">Already have an account?<br> <a href="/login/" style="color: #d5242a;">*LOG IN*</a></h4>
</div>
<div class="container" id="forms">
    <form role="form"  method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Create account</button>
        </div>
    </form>
</div>
</body>

{% endblock %}