{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}

<body id="bg">
<h1 id="title_pages">Update Profile</h1>
<hr class="hr_top">
<div class="container" id="white_container_forms">
    <h4 class="text_white_container"> <a href="/login/" style="color: #d5242a;">*LOG IN</a></h4>
</div>

<!--This is a custom form to hide the password label-->
<div class="container" id="forms">
    <form method="post">
    {% csrf_token %}
    <label for="first_name">First Name </label>
    <input style="margin-bottom: 1em;" id="first_name" class="form-control" type="text" maxlength="25" name="first_name" value="{{ user.first_name }}"><br>
    <label for="last_name">Last Name </label>
    <input style=" margin-bottom: 1em;" id="last_name" class="form-control" type="text" maxlength="25" name="last_name" value="{{ user.last_name }}"><br>
    <label for="email">E-Mail </label>
    <input style="margin-bottom: 1em;" id="email" class="form-control" type="email" maxlength="50" required=True unique=True name="email" value="{{ user.email }}"><br>
    <button class="btn btn-default" type="submit">Submit</button>
    {% if form.errors %}
      <p style="margin-left: 5em;" class=" label label-danger">
          Please enter a valid e-mail adress.
      </p>
    {% endif %}
</form>
</div>
</body>

{% endblock %}