.form-group{
    margin:10px 20px 10px 20px;
    color:white;

}

@media (min-width: 600px) {

    .form-group {
        width:50%;
        margin:auto;

    }
}

.help-block {
    color: #e08888 !important;
}
#alert_contact{
    width:50%;
    margin:auto;
}