
.form-group{
    margin:auto;
}
#forms{
    background-color:#2f2f2f;
    box-shadow: 22px -4px 101px 6px rgba(0,0,0,0.75);
    border-radius:10px;
    width:80%;

}
form{
    margin-top:10px;
    margin-bottom:10px;
    color:white;
}

.help-block {
    color: #e08888 !important;
}

#white_container_forms{
    background-color:#ffffffd4;
    width:80%;
    margin-bottom:20px;
    border-radius:10px;
}
.text_white_container{
    color:black;
    text-align:center;
}





/*login......*/

#login_form{
    background-color:#2f2f2f;
    box-shadow: 22px -4px 101px 6px rgba(0,0,0,0.75);
    border-radius:10px;
    width:90%;
}
/* reset password */
#rst_pass_confirm{
    margin:50px auto 50px auto;
    background-color:#2f2f2f;
    box-shadow: 22px -4px 101px 6px rgba(0,0,0,0.75);
    border-radius:10px;
    width:90%;
}
#rst_pass{
    background-color:#2f2f2f;
    box-shadow: 22px -4px 101px 6px rgba(0,0,0,0.75);
    border-radius:10px; width:90%;
}
/* Contact forms ....*/
.contact_details{
    margin-top:30px;
    margin-bottom: 30px;
}
#info_contact{
    background-color: #ffffffd4 !important;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}
#email_cont{
    background-color:#2f2f2f;  box-shadow: -43px 6px 112px -13px rgba(0,0,0,0.69); border-radius:10px;  width:80%;
}

/* media queries....*/

@media (min-width: 656px) {
    #email_cont {
        min-width: 150px !important;
        max-width: 320px !important;
        background-color: #2f2f2f;
        position: relative;
        left: 150px;
        bottom: 170px;
        box-shadow: -43px 6px 112px -13px rgba(0, 0, 0, 0.69);
        border-radius: 10px;
    }

    #info_contact{
        min-width:600px !important;
        max-width:700px !important;
        height:40%;
        position:relative;
        top:130px;
        text-align:left !important;
    }

    #forms {
        min-width: 150px !important;
        max-width: 320px !important;
        position: relative;
        right: 150px;
        bottom: 100px;


    }

    #white_container_forms {
        min-width: 600px !important;
        max-width: 700px !important;
        position: relative;
        top: 130px;
        height:150px;

    }

    .text_white_container{
        text-align:right !important;
        margin-top:55px;
    }
    #login_form{
        width:400px !important;
    }
}


@media (min-width: 400px){
    #rst_pass{
        width:400px !important;
        margin:auto;

    }
    #rst_pass_confirm{
        width:400px !important;
    }
}

@media (min-width: 555px){
    #profile_list{
        width:550px;

    }
}
@media (max-width: 600px){
    .form-group{
        width:100%;
    }

}