
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}
 <body id="background-login" style="background-image: url('{% static "media/grey and white.jpg"%}')";>
<div id="masthead">
    <div class="container">
        <div class="row">
                <h1> Blog
                    <p id="logo" class="lead">Cozma Alexandru Adrian</p>
                </h1>
        </div>
    </div>
</div>

{% for post in posts %}

        <div class="row" style="background-color:#0a0a0a80; border-radius: 10px; width:80%; margin: 30px auto 90px auto;">
            <div class="col-md-10" style="opacity:1.0;">
                <h2 style="margin-bottom:20px;">{{ post.title }}</h2>
                <div class="row">
                    <div class="col-md-10">
                        <p style="color:white">{{ post.content|truncatewords:40 }}</p>
                        <p><button class="btn btn-default" onclick="location.href={{ post.id }}">Read More</button></p>
                        <p style="color:white"><strong>Created by:</strong>{{user.first_name}} |  <strong>Date:</strong>{{ post.published_date }}<br> <strong>Views:</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}
</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}