{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}
<body id="background-login" style="background-image: url('{% static "media/grey and white.jpg"%}')";>
<div id="masthead">
    <div class="container">
        <div class="row">
                <h1> Blog
                    <p id="logo" class="lead">Cozma Alexandru Adrian</p>
                </h1>
        </div>
    </div>
</div>

<div class="row" style="background-color:#0a0a0a80; border-radius: 10px; width:90%; margin: 30px auto 90px auto;">

   <div class="col-xs-12 ">

      {% if post.image %}

          <img src="/media/{{ post.image}}" class="center-block">

      {% endif %}
   </div>
        <div class="col-md-12" style="width:100%">
            <h2 style="margin-bottom:20px;">{{ post.title }}</h2>
                <div class="row">
                    <div class="col-md-10">
                        <p style="color:white">{{ post.content }}</p>
                        <p><button class="btn btn-default" onclick="location.href='/blog'">Back To Blog</button></p>
                        <p style="color:white"><strong>Created by:</strong>{{user.first_name}} |  <strong>Date:</strong>{{ post.published_date }}<br> <strong>Views:</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}
</p>
                        <div id="disqus_cont" style="background-color:white; border-radius:10px;">
                        {% load disqus_tags %}
                        {% set_disqus_title post.title %}
                        {% disqus_show_comments %}
                        </div>
                    </div>
                </div>
        </div>
</div>










{% endblock %}