{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<body id="background-login" style="background-image: url('{% static "media/grey and white.jpg"%}')";>
<div id="masthead">
    <div class="container">
        <div class="row">
                <h1> Blog
                    <p id="logo" class="lead">Cozma Alexandru Adrian</p>
                </h1>
        </div>
    </div>
</div>
<div class="row" style="background-color:white; border-radius: 70px 20px; width:90%; margin:auto; opacity:1.0;">

            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="http://placehold.it/100" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
                </a>
            </div>
            <div class="col-md-10 col-sm-9" style="opacity:1.0;">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p style="opacity:1.0;">{{ post.content }}</p>
                        <p><button class="btn btn-default" onclick="location.href='/blog'">Back To Blog</button></p>
                        <p>{{ post.published_date }}| Views {{ post.views }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}