{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<body id="bg">
<h1 id="title_pages">Contact</h1>
<hr class="hr_top">
<h4 style="text-align:center; color:white;">FOR GENERAL ENQUIRIES/PRESS - Please use the contact form below.</h4>

<div class="container" id="info_contact">
    <h5 class="contact_details" style="color:#d5242a;">Tel*<br>0894414459</h5>
    <h5 class="contact_details">E-mail*<br>alex_boys30@yahoo.com</h5>
    <h5 class="contact_details">Adress*<br>29 Norfolk Road,Phibsboro,<br>Dublin 7</h5>

</div>


<div class="container" id="email_cont">

<form method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

<div class="form-group">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-send"></span> Send
      </button>
      <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
    </div>
</form>
</div>
</body>

{% endblock %}