{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}


<footer style="display:none;">

        <hr style="color:white; width:70%">
        <h4 style="color:white; text-align:center; font-family: 'Noto Serif KR', sans-serif;" >Created by Alexandru Cozma</h4>
        <div id="icons">
        <a href="https://www.facebook.com/cozma.alexandru.754"><img src="{% static 'media/facebook-2-24.ico'%}" alt=""></a>
        <a href="https://www.instagram.com/alexandru_0707/"><img src="{% static 'media/instagram-24.ico'%}" alt="" style="margin-left:60px; margin-right:60px"></a>
        <a href="https://github.com/Alexandru0707"><img src="{% static 'media/github-24.ico'%}" alt=""></a>
</div>

</footer>