{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}


<footer style="display:none;">
        <hr class="footer_hr">
        <h4 class="footer_h4">Created by Alexandru Cozma</h4>
        <div id="icons">
        <a href="https://www.facebook.com/cozma.alexandru.754"><img src="{% static 'media/facebook-2-24.ico'%}" alt=""></a>
        <a href="https://www.instagram.com/alexandru_0707/"><img src="{% static 'media/instagram-24.ico'%}" alt="" id="middle_icon"></a>
        <a href="https://github.com/Alexandru0707"><img src="{% static 'media/github-24.ico'%}" alt=""></a>
</div>

</footer>