{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}

{% block content %}

<body id="bg_gallery">
<div class="gallery_cont">
</div>



<div class = "bg_gallery" style="display:none;">

<a href="{% static 'media/1.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/1.jpg'%}" alt="" class="img_fancybox"/>
</a>

<a href="{% static 'media/2.jpg'%}"   data-fancybox="gallery"  >
	<img src="{% static 'media/2.jpg'%}" alt=""  class="img_fancybox" />
</a>
<a href="{% static 'media/3.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/3.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/4.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/4.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/5.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/5.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/7.jpg'%}"   data-fancybox="gallery"  >
	<img src="{% static 'media/7.jpg'%}" alt=""  class="img_fancybox" />
</a>
<a href="{% static 'media/8.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/8.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/9.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/9.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/10.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/10.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/11.jpg'%}"   data-fancybox="gallery"  >
	<img src="{% static 'media/11.jpg'%}" alt=""  class="img_fancybox" />
</a>
<a href="{% static 'media/12.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/12.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/13.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/13.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/15.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/15.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/16.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/16.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/18.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/18.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/20.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/20.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/21.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/21.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/22.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/22.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/23.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/23.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/24.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/24.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/25.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/25.jpg'%}" alt="" class="img_fancybox" />
</a>
<a href="{% static 'media/26.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/26.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/27.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/27.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/29.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/29.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/30.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/30.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/31.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/31.jpg'%}" alt="" class="img_fancybox" />
</a>
<a href="{% static 'media/32.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/32.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/33.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/33.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/34.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/34.jpg'%}" alt="" class="img_fancybox" />
</a>
<a href="{% static 'media/35.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/35.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/36.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/36.jpg'%}" alt="" class="img_fancybox"/>
</a>
<a href="{% static 'media/37.jpg'%}" data-fancybox="gallery"  >
	<img src="{% static 'media/37.jpg'%}" alt="" class="img_fancybox" />
</a>
</div>
</body>


{% endblock %}