{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<style>
    .paralax{
            height: 100%;
            background: fixed center no-repeat;
            background-size: cover;
            margin-top:-20px;
}
</style>



    <h1 class="logo" style=" margin-left:10px; margin-bottom:0px;">COZMA ALEXANDRU</h1>
    <h2 class="logo" style="margin-left:300px;  margin-top:0px; margin-bottom:550px;">Photography</h2>




<div class="white_field">
    <div class="text-paralax">
        <h3>Hi There!!</h3>
       <p>
        I am Alexandru experienced and friendly photographer.Available for a range of photography work throughout Ireland<br>
            -Keep scrolling-</p>
    </div>
</div>
<div class="paralax" style="background-image:url('../static/media/paralax_1.jpg');">
</div>
<div class="white_field">
    <div class="text-paralax">


        <p class="second_p">
        Open and available to any project idea, portrait, architectural and interior photography or any other project in any location<br>
            -Keep scrolling-</p>

    </div>
</div>
<div class="paralax" style="background-image:url('../static/media/paralax_2.jpg');">
</div>
<div class="white_field">
    <div class="text-paralax">

        <p class="third_p">Very reasonably priced, and flexible to fit budgets.<br>
        Please see my portfolio for a selection of my previous work<br>
            <a href="/gallery/" style="color:red;"> Click here</a></p>
    </div>
</div>
<div class="paralax" style="background-image:url('../static/media/paralax_3.jpg');">
    <div class="empty_div_footer"></div>
    <footer style="display:none;">
        <hr class="footer_hr">
        <h4 class="footer_h4">Created by Alexandru Cozma</h4>
        <div id="icons">
        <a href="https://www.facebook.com/cozma.alexandru.754"><img src="{% static 'media/facebook-2-24.ico'%}" alt="icon"></a>
        <a href="https://www.instagram.com/alexandru_0707/"><img src="{% static 'media/instagram-24.ico'%}" alt="icon" id="middle_icon"></a>
        <a href="https://github.com/Alexandru0707"><img src="{% static 'media/github-24.ico'%}" alt="icon"></a>
</div>

</footer>

</div>

{% block footer %}
{% endblock %}

{% endblock %}