{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
<body id="background-login" style="background-image: url('{% static "media/grey and white.jpg"%}')";>
    <form role="form" id="login_form" method="post" action="{% url 'login' %}">
         <h1 style="color:white;  font-family: 'Noto Serif KR', sans-serif; text-align:center; text-decoration:underline; margin-bottom:50px;">Log In</h1>
        {% csrf_token %}
        {{ form| as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
<h3 style="text-align:center;color:white; margin-top:70px;"; >Don't have an account? <a href="/register/" style="color: #dde9f1;">Register</a></h3>
{% endblock %}