{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/footer_css.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<body id="background" style="background-image: url('{% static "media/grey and white.jpg"%}')";>

    <form role="form" id="form_register" method="post" action="{% url 'register' %}">
        <h1 style="color:white; text-align:center;  margin-bottom:50px;">Create a new account</h1>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create account</button>
        </div>
    </form>
   <h4 style="text-align:center;color:white; margin-top:50px; margin-bottom:50px;"; >Already have an account? <a href="/login/" style="color: black;">Log In</a></h4>



{% endblock %}