{% extends "base.html" %}
{% load  staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css" />
{% endblock %}
<body id="bg" style="background-image: url('{% static "media/grey and white.jpg"%}')";>

<div class="container">
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <h3 style="text-align:center; color:white">Payment Details</h3>
        <hr style="width:70%">
    <div id="credit-card-errors">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>


    <div class="form-group col-md-4" id="payment_form">
        {{ order_form|as_bootstrap }}
    </div>
        <div class="form-group col-md-4">
            <h3 style="color:black;">Payment is in test mode</h3>
            <p style="color:white">*You can use of this cards:<br>4242 4242 4242 4242<br>4000 0566 5566 5556<br>
                *CVV three digits of your choice<br>
                E.g 123 546<br>
                *Expiry date must be a date in the future,otherwise it wil return card expired.
            </p>
            <hr>
        {{ payment_form|as_bootstrap }}

    </div>


    {% csrf_token %}
        <div class="form-group col-md-12" style="text-align:center;">
        <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
    </form>
</div>

{% endblock %}