.gallery_cont{
    height:20px;
}

.img_fancybox{
    margin-top:20px;
    margin-left:5px;
    margin-right:5px;
    width:24%;
}

/* Media Queries....*/

 @media (max-width: 1308px){
    .img_fancybox{
        margin-left:17px;
        margin-right:0px;
        width:23%;
    }
 }
 @media (max-width: 1151px){
    .img_fancybox{
        width:22%;
        margin-left:23px;
    }
}
@media (max-width: 966px){
    .img_fancybox{
        width:40%;
        margin-left:50px;
    }
}
@media (max-width: 763px) {
    .img_fancybox {
        margin-left: 40px;
    }
}
@media (max-width: 642px){
    .img_fancybox{
        margin-left:0px;
        margin-right:0px;
        width:100%;
    }
}
@media (min-width: 768px) {
    #bg {
        background-size: 100%;
    }
}
@media (max-width: 768px) {
    #bg{
        background-size:auto;
    }
}


